google-cloud-aiplatform
langchain==0.0.323 
chromadb==0.3.26 
pydantic==1.10.8 
typing-inspect==0.8.0 
typing_extensions==4.5.0 
pandas 
datasets 
google-api-python-client 
pypdf 
faiss-cpu 
transformers 
config
flask